# ---- Core Environment ----
streamlit
python-dotenv

# ---- LangChain Ecosystem ----
langchain
langchain-community
langchain-core
langchain-huggingface
langchain-chroma
langchain-google-genai


# ---- Vector Store ----
chromadb
